

.container-skills{
    display: flex;
    overflow: hidden;
    background-color: #343434;
    height: 300px; min-width: 350px;

    .front {
        display: block;
        max-width: 400px;
        margin: auto;
        text-align: center;

        .iconDefault {
            position: absolute;
            z-index: 2;
            height: 100px; width:100px;
        }

        .iconOnHover {
            opacity: 1;
            height: 100px; width:100px;
        }
        
        p {
            font-family: 'Red Hat M';
        }

    }

}

.details {
    display: block;
    height: auto; width: 0;
    overflow: hidden;
    transition: opacity 2s, width 2s, height 2s;
    transition-delay: 500ms;

    .container-relatedskills {
        .ds-block-01 {
            display: flex;
            align-items: center;
            height: 75px; width: inherit;

            .design-arrow {
                display: block;
                width: 50px;
                .design-d01 {
                    margin: 0 0 0 12px;
                 }
                .design-d02 {
                    margin: -9px 0 -7px 25px;
                }
                .design-d03 {
                    margin: 0 0 0 12px;
                }
            }

            p {
                color: #f2f3f4;
                font-size: 40px;
                font-family: 'Red Hat M';
                margin: 5px 5px 5px 5px;
                padding: 7px 0 0 0 ;
            }
        }
        .list-relatedskills {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style-type: none;   
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;
            ::-webkit-scrollbar {
                display: none;
            }
    
            .item-relatedskills {
                height: 40px; width: 100px;
                span {
                    display: flex;
                    margin: auto;
      
                    align-items: center;
    
                    img {
                        height: 20px; width: 20px;
                    }
        
                    p {
                        font-family: 'Red Hat M';
                        color: #f2f3f4;
                        margin: 10px 5px 10px 5px;
                    }
                }
               
            }
        }
    }

    .container-relatedprojects {
         .ds-block-01 {
            display: flex;
            align-items: center;
            height: 75px; width: inherit;

            .design-arrow {
                display: block;
                height: 39px; width: 50px;
                .design-d01 {
                    margin: 0 0 0 12px;
                 }
                .design-d02 {
                    margin: -9px 5px -7px 25px;
                }
                .design-d03 {
                    margin: 0 0 0 12px;
                }
            }
            
            p {
                color: #f2f3f4;
                font-size: 40px;
                font-family: 'Red Hat M';
                margin: 5px 5px 5px 5px;
                padding: 7px 0 0 0 ;
            }
        }

        div {
            height: 200px; width:90%;

            ul {
                display: flex;
                height: 95%; width: 90%;
                overflow-y: hidden;
                overflow-x: auto;
                list-style: none;
                white-space: nowrap;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;
                ::-webkit-scrollbar {
                    display: none;
                }
        
                li {
                    display: inline-block;
                    height: 90%; width: 150px;
                    line-Height: 80%;
                    background-color: #f2f3f4;
                    margin: 7.5px 25px 25px 0;
                    border-radius: 10px;
                    vertical-align: top;
                }
            }
        }

       
    }

   
    
}


