.body {
    height: 700px; width: 100%;
    background-color: #232323;
    box-shadow:  50px 50px 50px rgb(0 0 0 / 0.2);
    z-index: 999;

    .container-category {
        display: flex;
        height: 50px; width: 100%;
        margin: 25px 0 0 0; 
    
        .ds-block-01 {
            height: 40px; width: 350px;
            background-color: #f2f3f4;
        }
        
        .ds-block-02 {
            height: 40px; width: 25px;
            margin: 0 0 0 12.5px;
            background-color: #f2f3f4;
        
        }
        
        .ds-block-03 {
            height: 40px; width: 25px;
            margin: 0 0 0 12.5px;
            background-color: #f2f3f4;
        }
        
        p {
            font-size: large;
            font-family: 'Red Hat M';
            margin: 10px 25px 10px 25px;
        }
    }
    
    .container-list {
        height: 700px; width: 100%;
        overflow: hidden;
    
        .list-skills {
            display: flex;
            position: relative;
            height: 95%; width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            list-style: none;
            white-space: nowrap;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;
            ::-webkit-scrollbar {
                display: none;
            }

            .item-skills {
                display: flex;
                height: 300px;
                line-height: 80%;
                background-color: #131313;
                margin: 25px 25px 25px 0;
                border-radius: 25px;
                vertical-align: top;
                transition:  height 2s, width 2s;
            }
    
            li:active {
              
                transform: translateY(10px);
    
            }
            
        }

  

    }
    
}


