.navbar{
    display: flex;
    position: fixed;
    background-color: #f2f3f4;
    height: 64px; width: 100%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    top: 0;
    z-index: 999;

    /* Navbar Logo */
    .logo {
        display: flex;
        height: auto; width: 100%;

        /* Navbar Logo Image */
        img {
            height: 37.5px; width: 37.5px;
            margin: 17.5px 10px 17.5px 25px;
            
        }
        
        /* Navbar Logo Text*/
        p {
            margin: 25px 10px 25px 5px;
            text-align: center;
            align-items: center;
        } 
    
    }
}






